// Variables
$white: #FFFFFF
$light-main: #dcdcdc
$med-main: #a9a9a9
$dark-main: #808080
$black: #303030

main
  border: thin solid black
  max-width: 1024px

.row
  width: 100%
  margin: 0 auto

// Navbar
#navbar
  background-color: $black
  width: 100%
  a
    color: $white

// Align section headers to left
section
  h1
    justify-self: start

// about
#about
  #headshot
    border-radius: 50%

// projects
.project-container
  background-color: $light-main
  padding: 10px
  margin: 10px 0
  h2
    font-size: 1.5rem
  img
    margin: 0 auto
