<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tanner Chell</title>
    <link type="text/css" rel='stylesheet' href='/bootstrap.css'>
    <link type="text/css" rel='stylesheet' href='/css/style.css'>
</head>
<body>
    <nav id="navbar" class="navbar flex-row justify-content-center">
        <a class="nav-link" href="#about">About</a>
        <a class="nav-link" href="#projects">Portfolio</a>
        <a class="nav-link" href="#education">Education</a>
        <a class="nav-link" href="#contact">Contact</a>
    </nav>
    <main class="container-fluid">
        <section id="about" class="container">
            <h1>about me</h1>
            <div class="row justify-content-center">
                <div class="col-sm-4 order-2 order-sm-1">
                    <img class="img-fluid" id="headshot" src="/image/headshot.jpg" alt="Picture of Tanner">
                </div>
                <div class="col-sm-8 order-1 order-sm-2">
                    <p>
                        Currently an undergraduate student at the University of Alberta doing a Bachelor of Science.
                    </p>
                    <p>
                        My hobbies include rock climbing, mountain biking, snowboarding, cross country skiing, camping, hiking and just about anything else outdoors.
                    </p>
                    <p>
                        I like the indoors too though and do lots of reading, gaming, and mess around with my Arduino and Raspberry Pi once in a while.
                    </p>
                </div>
            </div>
        </section>
        <section id="projects" class="container">
            <h1>projects</h1>
            <div class="project-container row justify-content-center">
                <h2>Markdown Previewer</h2>
                <div class="row justify-content-around">
                    <div class="screenshot col-12 col-md-6 row justify-content-center">
                        <a class="" href="https://codepen.io/tchell/full/wxrMWL/" target="_blank">
                            <img class="img-fluid" src="/image/markdown_preview.jpeg" alt="Product Landing page">
                        </a>
                    </div>
                    <div class="description col-12 col-md-6">
                        <p>A way to test out markdown syntax with live formatting updates.</p>
                        <ul>Build with:
                            <li>Bootstrap</li>
                            <li>jQuery</li>
                            <li>React</li>
                            <li>Redux</li>
                            <li>Marked</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="project-container row justify-content-center">
                <h2>Random Quotes</h2>
                <div class="row justify-content-center">
                    <div class="screenshot col-12 col-md-6 row justify-content-center">
                        <a class="" href="https://codepen.io/tchell/full/zaRrWy/">
                            <img class="" src="/image/quote_machine.jpeg" alt="Technical Documentation page">
                        </a>
                    </div>
                    <div class="description col-12 col-md-6">
                        <p>Quote machine</p>
                    </div>
                </div>
            </div>
            <div class="project-container row justify-content-center">
                <h2>Survey Page</h2>
                <div class="row justify-content-center">
                    <div class="screenshot col-12 col-md-6 row justify-content-center">
                        <a class="" href="https://codepen.io/tchell/full/KeMVRr/">
                            <img class="img-fluid" src="/image/survey.jpeg" alt="Survey page">
                        </a>
                    </div>
                    <div class="description col-12 col-md-6">
                        <p>Survey page</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="education">
            <h1>Education</h1>
            <div class="">
                <ul id="ed-list" class="">
                    <li class="ed-list-item">
                        <h2>University of Alberta</h2>
                        <ul class="">
                            <li class="">Bachelor of Science in Biology (June 2019)</li>
                            <li>Minor in Computer Science</li>
                        </ul>
                    </li>
                    <hr>
                    <li class="ed-list-item">
                        <h2>Free Code Camp</h2>
                        <ul>
                            <li>
                                <a href="http://www.freecodecamp.org/certification/tchell/responsive-web-design" target="_blank">
                                    Responsive Web Design Certificate
                                </a>
                            </li>
                        </ul>
                    </li>
                    <hr>
                    <li class="ed-list-item">
                        <h2>Free Code Camp</h2>
                        <ul>
                            <li>
                                <a href="https://www.freecodecamp.org/certification/tchell/javascript-algorithms-and-data-structures" target="_blank">
                                    Javascript Algorithms and Data Structures Certificate
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </section>
        <section id="contact">
            <h1>Where to find me</h1>
            <div id="link-container" class="">
                <a id="profile-link" class="" href="https://github.com/tchell" target="_blank">
                    <!--
                    <img id="git-logo" src="https://image.flaticon.com/icons/svg/25/25231.svg">
                    -->
                </a>
            </div>
        </section>
    </main>
    <footer>
        <p>by Tanner Chell</p>
    </footer>
</body>
</html>
