<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tanner Chell</title>
    <link type="text/css" rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'>
    <link type="text/css" rel='stylesheet' href='/style.css'>
</head>
<body>
<div id="master">
    <nav id="navbar" class="flex-center">
        <a class="nav-link" href="#welcome-section">About</a>
        <a class="nav-link" href="#projects">Portfolio</a>
        <a class="nav-link" href="#contact">Contact</a>
    </nav>
    <main>
        <section id="welcome-section" class="flex-center">
            <h1>about me</h1>
            <!--
            <img id="headshot" src="/image/headshot.jpg" alt="Picture of Tanner">
            -->
            <p>Student. Procrastinator. Cliche.</p>
            <p>I make stuff. It probably works and might look good.</p>
            <hr>
            <p>New to programming and really new to web-development. I've worked with Python, C, MIPS assembly, and now a little bit of the basic web technologies.</p>
            <p>For fun I like to get outdoors and go hiking, camping, fishing, paddling, climbing, snowboarding, or mountain biking. When stuck indoors I play Elder Scrolls, LOL, Age of Empires, or just read.</p>
        </section>
        <section class="" id="projects">
            <h1>Some things I've made</h1>
            <div id="project-container" class="flex-center">
                <div class="project-tile ">
                    <a class="project-link" href="https://codepen.io/tchell/full/KeyPrV/" target="_blank">
                        <img class="project-img" src="/image/markdown_preview.jpeg" alt="Product Landing page">
                        <p class="label">Product Landing page</p>
                    </a>
                </div>
                <div class="project-tile ">
                    <a class="project-link" href="https://codepen.io/tchell/full/KeMVRr/">
                        <img class="project-img" src="/image/survey.jpeg" alt="Survey page">
                        <p>Survey page</p>
                    </a>
                </div>
                <div class="project-tile ">
                    <a class="project-link" href="https://codepen.io/tchell/full/zaRrWy/">
                        <img class="project-img" src="/image/quote_machine.jpeg" alt="Technical Documentation page">
                        <p>Technical Documentation Page</p>
                    </a>
                </div>
            </div>
        </section>
        <section id="contact">
            <h1>Where to find me</h1>
            <div id="link-container" class="flex-center">
                <a id="profile-link" class="personal-link" href="https://github.com/tchell" target="_blank"><img id="git-logo" src="https://image.flaticon.com/icons/svg/25/25231.svg"></a>
            </div>
        </section>
    </main>
    <footer>
        <p>by Tanner Chell</p>
    </footer>
</div>
</body>
</html>
