
/* Variables */
body {
    --white: #FFFFFF;
    --light-main: #E2A192;
    --med-main: #CC5B42;
    --dark-main: #853523;
    --black: #2B1712;
    background-color: var(--white);
}

/* Defaults */
* {
    box-sizing: border-box;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* Global Classes */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar */
#navbar {
    position: fixed;
    top: 0;
    background-color: var(--med-main);
    width: 100%;
}

.nav-link {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: var(--black)
}
.nav-link:hover {
    background-color: var(--dark-main);
    color: var(--white);
}

/* Main Page */
#welcome-section {
    height: 100vh;
    flex-direction: column;
}

#welcome-section h1, p {
    padding: 10px;
}

#headshot {
    border-radius: 50%;
    margin: 25px 0px;
}

#projects {
    background-color: var(--light-main);
    padding: 20px;
}
#projects h1 {
    padding-bottom: 20px;
}
#project-container {
    justify-content: space-around;
}
.project-tile {
    margin: 0px 5px;
    padding: 10px;
}
.project-img {
    height: 300px;
    padding: 0;
}
.project-link {
    text-decoration: none;
    background-color: var(--med-main);
    color: var(--black);
}
.project-link p {
    background-color: inherit;
}
.project-link:hover {
    background-color: var(--dark-main);
    color: var(--white);
}

/* Personal links */
#contact {
    padding: 20px;
}
#contact h1 {
    padding-bottom: 20px;
}
.personal-link img {
    width: 50px;
    height: auto;
}

footer {
    margin-top: 25px;
}
/* Media Queries */
/* Adjust for small screens */
@media (max-width: 940px) {
    .flex-center {
        flex-direction: column;
    }
    #headshot {
        height: 200px;
    }
    .project-img {
        height: 200px;
    }
    .project-link p {
        max-width: 200px;
    }
}